
header{
    padding-top: 2rem;
    overflow: hidden;
}
/* TEMP */
.logo h4{
    color: white;
}
/* END TEMP */
.btn{
    all: unset;
    border-radius: 8px;
    border: 1px solid white;
    padding-inline: 1.5em;
    padding-block: 0.5em;
    color: white;
}
.btn:hover{
    background-color: #2289ff;
    border-color: #2289ff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    list-style-type: none;
    align-items: center;
    display: flex;
    gap: 2em;
}
.nav-links li a{
    color: white;
    text-decoration: none;
}
.cta-btns{
    display: flex;
    gap: 1em;
}
.hero{
    display: flex;
    width: 100%;
    height: 100%;
    place-content: center;
    padding-top: clamp(2rem, 8%, 10rem);
    gap: 20px;
}
.part{
    width: 50%;
    height: 590px;
    overflow: hidden;
}
.hero-text{
    color: white;
}
.hero--header-title{
    /* font-family: 'qochy'; */
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 5%;
}
.hero--header-description{
    margin-bottom: 4%;
    line-height: 1.7em;
    font-weight: 300;
    font-size: 18px;
}
.hamburger{
    display: none;
}
.hero--card-img {
    display: flex;
    background-color: white;
    max-width: 100%;
    height: 32em;
    min-height: 30em;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
}
.card--bg {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
}
@media screen and (max-width: 1400px) {
    .hero--header-title {
        font-size: 46px;
    }
    .part{
        height: 560px;
    }
    .hamburger {
        display: block;
        width: 40px;
        height: 40px;
    }
    .nav-links{
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    .hero{
        flex-wrap: wrap;
        padding-bottom: 30px;
    }
    .part{
        width: 100%;
        margin-top: 20px;
        height: 40%
    }
    .nav-links{
        display: none;
    }
    .hero--card-img{
        width: 90%;
        height: 30em;
    }

}
/* .hero--card-lodge{
    position: absolute;
    top: 315px;
    right: 68px;
    background-color: #2289ff;
    width: 40%;
    height: 300px;
} */

/* POPULAR SECTION  */

.popular {
    padding-block: 3.8%;
}
.popular--head{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.popular--icon--text{
    font-size: 18px;
}
.section--header{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.section--title{
    font-weight:400;
}
@media screen and (max-width: 770px) {
    .popular--head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .popular--icon--text {
        font-size: 16px;
    }
    .popular--head h1{
        font-size: 30px;
    }
}
.popular--card{
    min-width: 370px;
    scroll-snap-align: start;
    overflow: hidden;
}
.popular--cards{
    display: flex;
    margin-top: 35px;
    overflow-x: auto;
    gap: 20px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.popular--card--img{
    width: 100%;
    height: 303px;
}
.card--image{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popular--card--content{
    background-color: #161617;
    padding: 30px;
    border-radius: 0 0 10px 10px;
}
.popular--card--content--head{
    display: flex;
    align-content: center;
    gap:20px;
}
.popular--card--content--body{
    display: flex;
    justify-content: space-between;
    padding-block: 20px;
}
.popular--card--content--footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card--content-price{
    font-weight: 600;
    font-size: 20px;
}
.card--icons{
    display: flex;
    place-items: center;
    gap: 0.5em;
}
.icon-size{
    width: 20px;
    height: 24px;
}
