
.btn{
    all: unset;
    border-radius: 8px;
    border: 1px solid white;
    padding-inline: 1.5em;
    padding-block: 0.5em;
    color: white;
}
.btn:hover, .btn_primary{
    background-color: #2289ff;
    border-color: #2289ff;
}

/* .hero--card-lodge{
    position: absolute;
    top: 315px;
    right: 68px;
    background-color: #2289ff;
    width: 40%;
    height: 300px;
} */
